*{
	margin: 0;
	padding:0;
}
p{
	 font-size: 20px;

}
#cabecalho{
	height: 250px;
	 background: #E0FFFF;
	width: 90%;
	margin: 0 auto;
	border: 10px solid#cccccc;
}


#menu{

	 height: 450px;
	 width: 310px;
	 background: #DCDCDC;
	 float: left;
	 margin-left: 80px;
	 margin-top: 10px;
	 border: 10px solid #cccccc;


}
#pagina{
	 height: 450px;
	 width: 320px;
	 background: #DCDCDC;
	 float: left;
	 margin-left: 20px;
	 margin-top: 10px;
   border: 10px solid #cccccc;
}
#lado{
	 height: 450px;
	 width: 360px;
	 background: #DCDCDC;
	 float: left;
	 margin-left: 20px;
	 margin-top: 10px;
	 border: 10px solid #cccccc;


}
#rodape{
	 height: 150px;
	 width: 400;
	 background: #D3D3D3;
     clear: both;
     width: 90%;
     margin-top: 535px;
   
border: 10px solid #cccccc; 	
    
		}

#catar {
	width: 310px;
}
#textoa {
	width: 200px;

}
#lado{
 width: 300px;
}